{% extends 'base-site.html.twig' %}

{% block title %}{{ parent() }} - Mentions légales{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Mentions légales! ✅</h1>
        <h2>INFORMATIONS RELATIVES AU SITE LANIMALERIE</h2>

        Editeur : Le site www.jardiland.com (ci-après le « Site ») est édité par la société Jardiland SAS, Société par Actions Simplifiée au capital de 167.896.554,71€ dont le siège social est situé au 83 avenue de la grande armée 75782 Paris cedex 16, RCS Paris 306 844 622. Numéro de TVA intracommunautaire FR 95 306 844 622.

        Coordonnées de correspondance :
        Adresse : Jardiland SAS – 83 avenue de la grande armée 75782 Paris cedex 16
        Numéro d’agrément : 9400008
        Téléphone : +33 (0)1 85 33 11 00
        Numéro Service Client : +33 (0)9 74 59 59 74
        Courrier électronique : www.jardiland.com/contacts/
        Directeur de la publication : Guillaume DUMARCHE
        Responsable de la rédaction : Elodie GOUX
        Hébergeur : Le site est hébergé par la société NBS System, RCS Paris N° B 423 410 901
        Siège social : Jardiland SAS – 83 avenue de la grande armée 75782 Paris cedex 16
        Téléphone : +33 (0)1 58 56 60 80

        Crédits :
        Conception, création & réalisation : DISKO
        Photos : Thinkstock / Shutterstock / Mauryflor / DG flor® / DG crea®
        <ul>
            <li>Your controller at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/business-case-3/src/Controller/StaticController.php'|file_link(0) }}">src/Controller/StaticController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/Users/aureliendelorme/Desktop/projets.nosync/business-case-3/templates/static/index.html.twig'|file_link(0) }}">templates/static/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
