{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}

{% endblock head%}

    {% block title %}Site web !{% endblock %}
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
       {{ parent() }}
        <link rel="stylesheet" href="{{ asset('css/website.css') }}">
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}



{% block body %}
    {% include 'parts/menu.html.twig' %}
{% endblock %}

{% block footer %}
{% include 'parts/footer.html.twig' %}
{% endblock %}
