{% extends 'base.html.twig' %}

{% block head %}
    {{ parent() }}

{% endblock head%}

    {% block title %}Admin !{% endblock %}

{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}

{% block body %}
{% endblock %}

