<html>
<head>


    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

{% block footer %}
{% endblock %}

{% block scripts %}
    <script rel="script" src="{{ asset('js/jquery.min.js') }}"></script>
    <script rel="stylesheet" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
{% endblock %}
</body>
</html>

